.location__details {
    width: 44em;
}

.location__name {
    font-family: 'Squada One', sans-serif;
    font-size: 3em;
    text-align: center;
    margin: .5em 0em .2em 0em;
    text-decoration: underline;
}

.location__fish {
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: .5em;
}

.location__temperature {
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin: .2em;
}

.locationItem {
    display: flex;
    border: .3em solid rgba(235, 195, 185, 0.89);
    margin: 1em 1em;
    border-radius: .5em;
    background-color: rgba(233, 212, 206, 0.89);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
}

.location__image {
    max-width: 28em;
    max-height: 10em;
    border-radius: .3em;
}