.dialog--button {
    padding: 1em 4em;
    text-align: center;
    background-color: white;
    color: rgb(230, 162, 141);
    border: .15em solid rgb(230, 162, 141);
    border-radius: .5em;
    text-align: center;
    margin:  .5em 0em 1em 0em;
    transition-duration: 0.5s;
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;
}

.dialog--button:hover {
    background-color: rgb(231, 203, 195);
    color: white;
}

.details--button {
    text-align: center;
}

