.dialog--fish {
    border: .8em solid rgba(235, 195, 185, 0.89);
    border-radius: .5em;
    background-color: rgb(241, 230, 227);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.dialog--text {
    font-family: 'Josefin Sans', sans-serif;
    margin: .2em;
}

.button--close {
    font-family: 'Josefin Sans', sans-serif;
    padding: 1em 4em;
    text-align: center;
    background-color: white;
    color: rgb(230, 162, 141);
    border: .15em solid rgb(230, 162, 141);
    border-radius: .5em;
    text-align: center;
    transition-duration: 0.5s;
    font-size: 500;
}

.button--close:hover {
    background-color: rgb(231, 203, 195);
    color: white;
}