.fishList {
    flex-basis: 73%;
    display: flex;
    flex-wrap: wrap;
}

.fish__image {
    border: .3em inset rgb(226, 182, 169);
    margin: 1em 0em .5em 0em;
    border-radius: 1em;
    width: 10rem;
    height: 10rem;
    align-items: center;
}

.fish {
    margin: 1em 1em;
    width: 16em;
    border: 4px solid rgb(230, 162, 141);
    border-radius: .5em;
    background-image: linear-gradient(lightsteelblue, white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.fishName {
    text-align: center;
    /* font-weight: bold; */
    font-family: 'Permanent Marker', serif;
    font-size: larger;
}