.fishList {
    flex-basis: 73%;
    display: flex;
    flex-wrap: wrap;
}

.fish__image {
    border: 3px solid goldenrod;
    margin: 2rem 2rem 0.5rem 3rem;
    width: 10rem;
    height: 10rem;
    text-align: center;
}

.fish {
    margin: 1em 1em;
    width: 16em;
    border: 4px groove black;
    background-color: lightsteelblue;
}

.fishName {
    text-align: center;
    font-weight: bold;
}

.dialog--button {
    background-color: white;
    color: black;
    border: .1em solid black;
    border-radius: .5em;
    text-align: center;
}

.detais--button {
    text-align: center;
}